/*
    .container .row h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.39;
    letter-spacing: normal;
    color: #212329;
}
*/

.jumbotron {
    text-align: center;
}